*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.2fr;
    grid-template-areas: 
    "nav nav"
    "main main"
    "footer footer";
}
/*------------------ Begin Menu ---------------*/
nav {
    background-color: #000000;
    grid-area: nav;
}
.nav-list {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-right: 2rem;
}
.nav-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}
.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
.nav-item a:hover {
    color: green;
}
/*------------------ End Menu ---------------*/

/*------------------ Begin Footer ---------------*/
footer {
    background-color: #000000;
    grid-area: footer;
}
.footer-list {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-item {
    list-style: none;
    margin-right: 2rem;
}
.footer-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}
.footer-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
.footer-item a:hover {
    color: green;
}
/*------------------ End Footer ---------------*/


