*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif, sans-serif;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.2fr;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
}
/*------------------ Begin Menu ---------------*/
nav {
    background-color: #000000;
    grid-area: nav;
}
.nav-list {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-right: 2rem;
}
.nav-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}
.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
.nav-item a:hover {
    color: green;
}
/*------------------ End Menu ---------------*/

/*------------------ Begin Main ---------------*/
main {
    background-color: rgb(51, 51, 51);
    grid-area: main;
}
.picture-album-container{
    height: 15vh;
}
.picture-album-container img{
    margin: 5px 0  0 30px;
}
.playlist-section{
    display: grid;
    height: 56.5vh;
    width: 190vh;
    margin-left: 30px;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    padding-left: 15px;
    font-size: small;
    min-width: auto;
}

.content-table thead tr{
    background-color: white;
    text-align: left;
    font-weight: bold;
}
.content-table tbody tr{
    border-bottom: 1px solid #666666;
}
/*------------------ End Main ---------------*/


/*------------------ Begin Footer ---------------*/
footer {
    background-color: #000000;
    grid-area: footer;
}
.footer-list {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-item {
    list-style: none;
    margin-right: 2rem;
}
.footer-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}
.footer-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
.last-child-list{
    margin-right: 50rem;
    padding: 3rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}
.footer-item a:hover {
    color: green;
}
/*------------------ End Footer ---------------*/


